body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    text-align: center;
}

#signup-form, #login-form {
    display: inline-block;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 95%;
    padding: 7px;
    margin-bottom: 10px;
    margin-inline-end: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #218838;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
}

.google-btn img {
    margin-right: 10px;
}

.login-link, .signup-link {
    text-align: center;
    margin-top: 10px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.separator hr {
    flex: 1;
    border: 0;
    height: 1px;
    background: #ccc;
}

.separator span {
    padding: 0 10px;
    color: #999;
}
