<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upgrade to Plus</title>
    <link rel="icon" href="../../static/img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Jaini+Purva&family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/CSS/dash.css">
</head>

<body>
    <div class="plans-container">
        <div class="container">
            <h2>Free</h2>
            <p class="amount">INR 0/month</p>
            <ul>
                <li>No Early Access Available</li>
                <li>Less Prompts Available</li>
                <li>Limited access to the Chatbot</li>
                <li>Upto 2GB cloud storage is Available</li>
            </ul>
            <button class="btn btn-disabled" disabled>Your Current Plan</button>
        </div>
        <div class="container">
            <h2>Plus</h2>
            <p class="amount">INR 500/month</p>
            <ul>
                <li>Early access to new features</li>
                <li>Access to the Advanced model</li>
                <li>5x more prompts for the New Version</li>
                <li>Upto 5GB cloud storage is Available</li>
            </ul>
            <button type="submit" id="rzp-button1" class="btn">Upgrade to Plus</button>
        </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var options = {
            "key": "{{api_key}}",
            "name": "Let's Go",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": "{{order_id}}",
            "handler": function (response) {
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)
            },
            "prefill": {
                "name": "Aryan Sukhadia",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function (response) {
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
        });
        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }
    </script>
    
</body>

</html>
