
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" href="../../static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/CSS/home.css">
</head>
<body>
    {% load socialaccount %}
    <div class="container">
        <h1>Welcome back</h1>
        <div class="form-container">
            <h2>Login</h2>
            <form id="login-form" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ loginform.as_p }}
                <button type="submit">Continue</button>
                <div class="signup-link">
                    <p>Don't have an account? <a href="register.html">Sign Up</a></p>
                </div>
                <div class="separator">
                    <hr class="left">
                    <span>OR</span>
                    <hr class="right">
                </div>
                <button type="button" class="google-btn" onclick="signInWithGoogle()">
                    <img src="https://www.google.com/favicon.ico" alt="Google icon"> Continue with Google
                </button>
            </form>
        </div>
    </div> 
    <script>
        function signInWithGoogle() {
            const googleLoginUrl = "{% url 'google_login' %}";
            window.location.href = googleLoginUrl;
        }
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload();
            }
        };
    </script>
</body>
</html>

