<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know More</title>
    <link rel="stylesheet" href="../../static/CSS/contact.css">
    <link rel="icon" href="../../static/img/logo.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <!-- Title and Video of 3 Characters -->
        <header>
            <h1>Meet the Characters</h1>
            <div class="video-preview">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Bf38HiYPMiI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h1>Know the Story of GTA</h1>
            <div class="video-preview">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-REFqItXT2w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>            
        </header>
        
        <!-- About Michael -->
        <section id="michael">
            <h2>About Michael De Santa</h2>
            <p>Highly successful bank robber who retired and went into FIB witness protection with a sweet deal. He and his wife Amanda have a rocky relationship and kids Tracey & Jimmy are not understandable anymore. He used to rob banks and other places with Trevor - back when using his real last name: Townley. Codenamed "Albert De Silva" from casting calls at the bottom of this page related to "Kevin De Silva".</p>
            <div class="video-preview">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HqZXw5M6qQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
        </section>
        
        <!-- About Franklin -->
        <section id="franklin">
            <h2>About Franklin Clinton</h2>
            <p> Franklin works for Simeon Yetarian, an Armenian luxury car dealer, and does repossession when customers can't pay. He hangs out with crazy, immature friends including his best friend for life Lamar but running into Michael shows him another way to live. Franklin would like nothing more than to leave the streets behind for a better life.</p>
            <div class="video-preview">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kfzrQGU6jhM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>            
        </section>
        
        <!-- About Trevor -->
        <section id="trevor">
            <h2>About Trevor Philips</h2>
            <p>Crazy, drug abusing ex-military pilot who lives in a trailer out in the desert. Did we mention Trevor is crazy? Trevor grew up in Canada but appears to have spent most of his life state-side since he has a faint accent (although some people in GTA V hear it perfectly). He used to rob banks and other places with Michael. Codenamed "Simon" from casting calls at the bottom of this page.</p>            
            <div class="video-preview">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XAOUlsrmzYM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</body>
</html>