<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Talk with GTA Characters</h1>
    <button onclick="window.location.href='{% url 'twt' %}'">Talk with Trevor</button>
    <button onclick="window.location.href='{% url 'twm' %}'">Talk with Michael</button>
    <button onclick="window.location.href='{% url 'twf' %}'">Talk with Franklin</button>
</body>
</html>