
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url('../img/Dash.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f6f7f1;
    opacity: 0.85;
    overflow: hidden;
    position: relative;
}


.plans-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(70px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    margin-bottom: 20px;
    color: #FFA500;
    animation: glow 2s infinite;
    font-size: 24px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff7300;
    color: rgb(43, 51, 106);
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: fadeIn 2s ease-in-out;
    background-color: #e18d05;
}

.btn:hover {
    background-color: #FF8C00;
    transform: translateY(-3px);
}

.btn-disabled {
    background-color: #410101;
    cursor: not-allowed;
    color: #f6eef5;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.btn-disabled:hover {
    background-color: #808080;
    transform: translateY(-3px);
}

.amount {
    margin-bottom: 20px;
    font-size: 18px;
    color: #d1ec08;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul li {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    border-radius: 5px;
    color: #9b07f8c8;
    animation: fadeIn 1.5s ease-in-out;
}

ul li:nth-child(odd) {
    animation-delay: 0.2s;
}

ul li:nth-child(even) {
    animation-delay: 0.4s;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #f6611c;
}

.container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.plans-container .container:hover ~ .container,
.plans-container .container:hover + .container {
    filter: blur(4px);
}

.plans-container .container:hover {
    filter: none;
}

 .container {
    position: relative;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    z-index: 1;
    /* backdrop-filter: blur(40px); */
} 


.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: 300%;
    animation: animateBorder 3s linear infinite;
    z-index: -1;
}

@keyframes animateBorder {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.container::before,
.container::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    
    animation: animateBorder 3s linear infinite;
}

.container::before {
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
}

.container::after {
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
}

.container span::before,
.container span::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    
    animation: animateBorder 3s linear infinite;
}

.container span::before {
    top: 0;
    left: 0;
    border-radius: 10px 0 0 10px;
}

.container span::after {
    top: 0;
    right: 0;
    border-radius: 0 10px 10px 0;
}

